# Default behaviour
* text=auto

# Source Files
*.js text eol=lf
src/**/*.js text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.sh text eol=lf

# OtterScript
*.otter text eol=lf
*.oscript text eol=lf

# Documentation
*.txt text eol=lf
*.md text eol=lf

# YAML (Github Actions, configs)
*.yml  text eol=lf
*.yaml text eol=lf

# Other
.vscodeignore text eol=lf
.vscode/** text eol=lf
.gitignore    text eol=lf
.gitattributes text eol=lf
*.code-workspace text eol=lf
package-lock.json text eol=lf

# Binaries
*.png binary
*.vsix binary
*.zip binary
