.git/
.github/
.gitignore
.vscode/
node_modules/
test/
.DS_Store
*.vsix
*.ps1
*.log
*.tmp
CONTRIBUTING.md
CODE_OF_CONDUCT.md
eslint.config.cjs
SECURITY.md
package-lock.json
.markdownlint.jsonc
# Exclude source maps etc.
!src/
!src/**/*.js
!syntaxes/
!snippets/
